In [14]:
import sqlite3

In [15]:
connection = sqlite3.connect('data.db')
cursor = connection.cursor()

In [16]:
## Create a table

cursor.execute('''CREATE TABLE IF Not Exists employees (
    id Integer Primary Key, 
    username Text Not Null,
    password Text,
    department Text
    )'''
    )

connection.commit()

In [17]:
cursor.execute('INSERT INTO employees(username,password, department) VALUES ("admin", "admin", "admin")')

cursor.execute('INSERT INTO employees(username,password, department) VALUES ("john", "karlo", "devops")')

cursor.execute('INSERT INTO employees(username,password, department) VALUES ("bob", "kalo", "support")')

connection.commit()

In [21]:
cursor.execute('Select * from employees')
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'admin', 'admin', 'admin')
(2, 'john', 'karlo', 'devops')
(3, 'bob', 'kalo', 'devops')

In [20]:
cursor.execute('''
    UPDATE employees 
    SET department = "devops" 
    WHERE username = "bob"    
''')

connection.commit()

In [22]:
cursor.execute('''
    DELETE from employees
    where username = "bob"
    ''')

connection.commit()

In [23]:
cursor.execute('Select * from employees')
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'admin', 'admin', 'admin')
(2, 'john', 'karlo', 'devops')

In [24]:
connection.close()